{% extends "site/base.html" %}
{% load i18n util static %}

{% block header %}
{% with page_title=request|make_page_title_for_advanced_search_result %}{{ block.super }}{% endwith %}
{% endblock %}

{% block content %}

<div class="advanced-search-view" data-campus-icon-path="{% static "campus.svg" %}">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class"nav-item">
      <a href="#ix" aria-controls="ix" role="tab" data-bs-toggle="tab" class="nav-link {% if request.GET.reftag == "ix" or not request.GET.reftag %}active{% else %}inactive{% endif %}">{% trans "Exchanges" %}</a>
    </li>
    <li role="presentation" class"nav-item">
      <a href="#net" aria-controls="net" role="tab" data-bs-toggle="tab" class="nav-link {% if request.GET.reftag == "net" %}active{% else %}inactive{% endif %}">{% trans "Networks"  %}</a>
    </li>
    <li role="presentation" class"nav-item">
      <a href="#fac" aria-controls="fac" role="tab" data-bs-toggle="tab" class="nav-link {% if request.GET.reftag == "fac" %}active{% else %}inactive{% endif %}">{% trans "Facilities" %}</a>
    </li>
    <li role="presentation" class"nav-item">
      <a href="#org" aria-controls="org" role="tab" data-bs-toggle="tab" class="nav-link {% if request.GET.reftag == "org" %}active{% else %}inactive{% endif %}">{% trans "Organizations" %}</a>
    </li>
    <li role="presentation" class"nav-item">
      <a href="#campus" aria-controls="campus" role="tab" data-bs-toggle="tab" class="nav-link {% if request.GET.reftag == "campus" %}active{% else %}inactive{% endif %}">
        <div
        data-bs-toggle="tooltip"
        data-placement="top"
        title="{{ campus_help_text }}">
          {% trans "Campus" %}
      </div>
      </a>
    </li>
    <li role="presentation" class"nav-item">
      <a href="#carrier" aria-controls="carrier" role="tab" data-bs-toggle="tab" class="nav-link {% if request.GET.reftag == "carrier" %}active{% else %}inactive{% endif %}">{% trans "Carriers" %}</a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane{% if request.GET.reftag == "ix" or not request.GET.reftag %} active{% endif %}" id="ix">
      {% include "site/advanced-search-ix.html" with row_limit=row_limit%}
    </div>
    <div role="tabpanel" class="tab-pane{% if request.GET.reftag == "net"%} active{% endif %}" id="net">
      {% include "site/advanced-search-net.html" with row_limit=row_limit%}
    </div>
    <div role="tabpanel" class="tab-pane{% if request.GET.reftag == "fac" %} active{% endif %}" id="fac">
      {% include "site/advanced-search-fac.html" with row_limit=row_limit%}
    </div>
    <div role="tabpanel" class="tab-pane{% if request.GET.reftag == "org" %} active{% endif %}" id="org">
      {% include "site/advanced-search-org.html" with row_limit=row_limit%}
    </div>
    <div role="tabpanel" class="tab-pane{% if request.GET.reftag == "campus" %} active{% endif %}" id="campus">
      {% include "site/advanced-search-campus.html" with row_limit=row_limit%}
    </div>
    <div role="tabpanel" class="tab-pane{% if request.GET.reftag == "carrier" %} active{% endif %}" id="carrier">
      {% include "site/advanced-search-carrier.html" with row_limit=row_limit%}
    </div>

    <nav aria-label="...">
      <ul class="pagination-bottom pagination">
      </ul>
    </nav>


    <script language="javascript" type="text/javascript">

      // Function to create pagination buttons
      function createPaginationButton(text, enabled, page, reftag, isActive = false) {
        const button = document.createElement('li');
        button.classList.add('page-item');

        if (enabled) {
          button.classList.add('enabled');
        } else {
          button.classList.add('disabled');
        }

        if (isActive) {
          button.classList.add('active');
        }

        const link = document.createElement('a');
        link.classList.add('page-link');
        link.href = '#';
        link.textContent = text;

        if (enabled) {
          link.addEventListener('click', () => {
            updateResults(reftag, page);
          });
        }

        button.appendChild(link);
        return button;
      }

      // Function to update pagination buttons
      function updatePagination(pagination, reftag) {
        const paginationContainer = document.querySelector('.pagination-top.pagination');
        paginationContainer.innerHTML = '';

        const currentPage = pagination.page;
        const totalPages = pagination.total_pages;
        const hasPrevious = pagination.has_previous;
        const hasNext = pagination.has_next;
        const previousPage = pagination.page - 1;
        const nextPage = pagination.page + 1;

        if (hasPrevious) {
          paginationContainer.appendChild(createPaginationButton('Previous', true, previousPage, reftag));
        }

        // Ellipsis Logic
        const maxVisiblePages = 10;
        let startPage = Math.max(1, currentPage - Math.floor(maxVisiblePages / 2));
        let endPage = Math.min(totalPages, startPage + maxVisiblePages - 1);

        for (let i = startPage; i <= endPage; i++) {
          paginationContainer.appendChild(createPaginationButton(i, true, i, reftag, i === currentPage));
        }

        if (endPage < totalPages - 1) {
          const ellipsisButton = document.createElement('li');
          ellipsisButton.classList.add('page-item', 'disabled');
          ellipsisButton.innerHTML = '<span class="page-link">...</span>';
          paginationContainer.appendChild(ellipsisButton);
        }

        if (endPage < totalPages) {
          for (let i = totalPages - 1; i <= totalPages; i++) {
            paginationContainer.appendChild(createPaginationButton(i, true, i, reftag, i === currentPage));
          }
        }

        if (hasNext) {
          paginationContainer.appendChild(createPaginationButton('Next', true, nextPage, reftag));
        }


        // Bottom Pagination
        const paginationContainerBottom = document.querySelector('.pagination-bottom.pagination');

        paginationContainerBottom.innerHTML = '';

        if (hasPrevious) {
          paginationContainerBottom.appendChild(createPaginationButton('Previous', true, previousPage, reftag));
        }


        for (let i = startPage; i <= endPage; i++) {
          paginationContainerBottom.appendChild(createPaginationButton(i, true, i, reftag, i === currentPage));
        }

        if (endPage < totalPages - 1) {
          const ellipsisButton = document.createElement('li');
          ellipsisButton.classList.add('page-item', 'disabled');
          ellipsisButton.innerHTML = '<span class="page-link">...</span>';
          paginationContainerBottom.appendChild(ellipsisButton);
        }

        if (endPage < totalPages) {
          for (let i = totalPages - 1; i <= totalPages; i++) {
            paginationContainerBottom.appendChild(createPaginationButton(i, true, i, reftag, i === currentPage));
          }
        }

        if (hasNext) {
          paginationContainerBottom.appendChild(createPaginationButton('Next', true, nextPage, reftag));
        }



      }

      // Function to update search results
      function updateResults(reftag, page = 1) {
        let apiUrl = `/api/${reftag}?page=${page}`;

        const searchParams = getSearchParameters(reftag);

        apiUrl += `&${searchParams}`;

        var searchForm = $('[data-edit-target="advanced_search:' + reftag + '"]');
        searchForm.editable("loading-shim", "show");


        fetch(apiUrl)
          .then((response) => response.json())
          .then((data) => {
            const resultsContainer = document.querySelector(`#${reftag} .results`);
            resultsContainer.innerHTML = '';

            const templateRow = document.querySelector(`#advanced-search-${reftag}-item`);

            if (templateRow) {
              data.data.forEach(item => {
                const rowElement = templateRow.cloneNode(true);
                rowElement.id = '';

                const dataFields = rowElement.querySelectorAll('[data-edit-name]');
                dataFields.forEach(field => {
                  const fieldName = field.dataset.editName;

                  var sortValue = item[fieldName];

                  // check if sortValue is a number
                  if (!isNaN(sortValue)) {
                    sortValue = parseFloat(sortValue);
                  }

                  $(field).data("sort-value", typeof sortValue == "string" ? sortValue.toLowerCase() : sortValue);

                  field.textContent = item[fieldName] || '';

                  if (field.tagName === 'A') {
                    field.href = `/${reftag}/${item.id}`;
                  }
                });

                resultsContainer.appendChild(rowElement);
              });
            }

            updatePagination(data.meta.pagination, reftag);

            var searchForm = $('[data-edit-target="advanced_search:' + reftag + '"]');
            searchForm.editable("loading-shim", "hide");
          })
          .catch((error) => {
            console.error('Error fetching data:', error);
            var searchForm = $('[data-edit-target="advanced_search:' + reftag + '"]');
            searchForm.editable("loading-shim", "hide");
          });
      }

      // Function to get search parameters from the form
      function getSearchParameters(reftag) {
        let params = "";

        $(`[data-edit-target="advanced_search:${reftag}"] [data-edit-name] .editable :input`).each(function() {

          const nameElement = $(this).closest('[data-edit-name]');
          const name = nameElement.attr('data-edit-name');


          let inputElement = $(this).find(':input');


          // Special handling for capacity__gte (to exclude the unit select)
          if (name === "capacity__gte") {
            const inputElement = $(this).find('unit.editable.traffic_capacity');

            if (inputElement.length > 0) {
              value = inputElement.val();
            }

          } else {
            inputElement = $(this).find(":input");
          }


          // Get the value directly from the form element
          let value = null;

          if ($(this).is('input[type="text"], input[type="hidden"], textarea')) {
            value = $(this).val();
          } else if ($(this).is('select')) {
            value = $(this).val();
          } else if ($(this).is('input[type="checkbox"]')) {
            value = $(this).prop('checked');
          }

          // Special handler for distance, needs to discard if its just the unit
          // (e.g., "km" or "miles")
          if (name === "distance") {
            if (value === "km" || value === "miles") {
              value = "";
            }
          }

          // handle fac, org and ix presence filters
          if (name === "ix" || name === "not_ix" || name === "fac" || name === "not_fac" || name === "org" || name === "not_org") {
            value = nameElement.data('edit-value');
          }

          // Handle empty values and the default value for traffic capacity
          if (value !== "" && value !== "Gbps") {
            // Handle array values (for multi-selects)
            if (Array.isArray(value)) {
              value.forEach(v => {
                params += `${encodeURIComponent(name)}=${encodeURIComponent(v)}&`;
              });
            } else {
              params += `${encodeURIComponent(name)}=${encodeURIComponent(value)}&`;
            }
          }
        });

        // pass through existing url params
        // these elements don't have standard input fields and
        // can be passed through as is
        const passThrough = [
          // network presence (any)
          "net__in",
          // network presence (all)
          "all_net",
          // network presence (none)
          "not_net"
        ];

        let currentUrlParams = new URLSearchParams(window.location.search);

        passThrough.forEach(param => {
          if (currentUrlParams.has(param)) {
            params += `${param}=${currentUrlParams.get(param)}&`;
          }
        });

        return params;
      }

      $(window).bind("load", function() {

        /* wire the org presence filter configuration (does not matter, present,
        * not present) to the org present filter.
        */
        $('.org_present_input').each(function() {
          var filter_input = $(this);
          var filter_select = filter_input.parent().find('.org_present_filter')
          var editable_input = filter_input.children('div')
          filter_select.on('change', function() {
            let val = $(this).val()
            if(val )
              editable_input.data('edit-name', val).attr('data-edit-name', val);
            else {
              editable_input.removeData('edit-name').removeAttr('data-edit-name')
            }
          });

        });

        /* wire the net presence filter configuration (does not matter, present,
        * not present) to the net present filter.
        */
        $('.net_present_input').each(function() {
          var filter_input = $(this);
          var filter_select = filter_input.parent().find('.net_present_filter')
          filter_select.on('change', function() {
            let val = $(this).val()
            if(val )
              filter_input.data('edit-name', val).attr('data-edit-name', val);
            else {
              filter_input.removeData('edit-name').removeAttr('data-edit-name')
            }
          });

        });

        var run_search = function() {
          var reftag = $.urlParam("reftag");
          if (
            reftag == "net" ||
            reftag == "ix" ||
            reftag == "fac" ||
            reftag == "org" ||
            reftag == "campus" || reftag == "carrier"
          ) {
            var searchForm = $(
              '[data-edit-target="advanced_search:' + reftag + '"]'
            );
            searchForm.editable("loading-shim", "show");

            twentyc.data.loading_done(function () {
              var target = twentyc.editable.target.instantiate(searchForm);
              target.sender = searchForm;

              PeeringDB.advanced_search_result[reftag] = {
                param: getSearchParameters(reftag)
              };

              // Set up the export buttons
              searchForm
                .parent()
                .find("[data-export-format]")
                .each(function () {
                  var tag = $(this).data("export-tag");
                  var format = $(this).data("export-format");
                  $(this).removeClass("d-none");
                  $(this).attr(
                    "href",
                    "/export/advanced-search/" +
                      tag +
                      "/" +
                      format +
                      "?" +
                      PeeringDB.advanced_search_result[tag].param.replace(
                        /page=1(&|$)/,
                        "$1"
                      )
                  );
                });
              updateResults(reftag, 1);
            });
          }
        };

        twentyc.data.load("enum/traffic", {callback:function() {
          twentyc.data.load("sponsors", {callback:function() {
            twentyc.data.load("campus_facilities", {callback:run_search})
          }});
        }});

        $(document).on('click', '.nav-tabs a', function (event) {
          $(".pagination-bottom.pagination").html('');
          event.preventDefault();
          const reftag = $(this).attr('href').substring(1);
          const currentUrl = window.location.href;
          const searchParams = currentUrl.searchParams

          if(!searchParams)
            return;

          searchParams.set('reftag', reftag);



          // remove reftag from the url and add the new reftag
          searchParams.delete('reftag');
          newUrl = `${currentUrl.split('?')[0]}?${searchParams.toString()}&reftag=${reftag}`;

          window.location.href = newUrl;
        });

      });
    </script>
</div>

{% endblock %}
