{% load util %}
{% load i18n %}
<div class="editable note info">
{% blocktrans trimmed %}
Suggest {{ entity_name }} to be added to the database. Your suggestion will be reviewed by the PeeringDB Administration Committee. It will then either be finalized and entered into the database, or declined. No further action is required on your part.
{% endblocktrans %}
{% if entity_name == "Facility" %}
<p class="marg-top-15">
{% blocktrans trimmed %}
In order to be approved we would expect that the suggested Facility offers colocation, data center and/or meet-me-room services to the public.
{% endblocktrans %}
<p>
<p class="marg-top-15"><strong>
{% blocktrans trimmed %}
Only use this if you don't own the Facility. If you own it, please use "Add Facility" under your organization record.
{% endblocktrans %}
</strong></p>
{% elif entity_name == "Exchange" %}
<p class="marg-top-15">
{% blocktrans trimmed %}
In order to be approved we would expect that the suggested Exchange meets the following criteria:
{% endblocktrans %}
<br><br>
{% blocktrans trimmed %}
An Internet Exchange Point (IXP) is a network facility that enables the interconnection of more than two independent Autonomous Systems, primarily for the purpose of facilitating the exchange of Internet traffic.
{% endblocktrans %}
<br><br>
{% blocktrans trimmed %}
An IXP provides interconnection only for Autonomous Systems. An IXP does not require the Internet traffic passing between any pair of participating Autonomous Systems to pass through any third Autonomous System, nor does it alter or otherwise interfere with such traffic
{% endblocktrans %}
</p>
{% endif %}
</div>
<div class="marg-top">
  <a class="btn btn-default" data-edit-action="submit">{% trans "Suggest" %} {{ entity_name }}</a>
</div>
