{% load i18n %}
    <div class="editable always panel"
         data-edit-target="/change-password"
         id="form-change-password">

      <h3>{% trans "Change password" %}</h3>
      <div class="editable popin info" id="password-change-success" style="display:none;">{% trans "Password changed" %}!</div>
      <input type="password"
             class="editable string form-control marg-bot-15"
             placeholder="{% trans "Current Password" %}"
             data-edit-name="password_c"
             data-edit-type="password"
             data-edit-required="yes" />


      <input type="password"
             class="editable string form-control marg-bot-15"
             placeholder="{% trans "Password" %}"
             data-edit-name="password"
             data-edit-type="password"
             data-edit-required="yes" />


      <input type="password"
             class="editable string form-control marg-bot-15"
             placeholder="{% trans "Password Verification" %}"
             data-edit-name="password_v"
             data-edit-type="password"
             data-edit-required="yes" />

      <a class="btn btn-default" data-edit-action="submit">{% trans "Change Password" %}</a>
    </div>
