{% include "site/header.html" %}
{% include "site/view_header.html" with errors=errors %}
{% load i18n %}

<div class="view_info">
<div class="container">
  <div class="row marg-top-30">
    <div class="col-md-4 col-sm-3 col-12"></div>
    <div class="col-md-4 col-sm-6 col-12 panel" id="username-retrieve-complete">
      {% if secret == secret_expected and secret_expected %}
      <div>
      {% trans "These are the usernames associated with your email address" %} <b>{{ email }}</b>
      </div>
      <div class="marg-top-15">
        {% for user in users %}
        <p class="username">{{ user.username }}</p>
        {% endfor %}
      </div>
      {% else %}
      <p>
      {% trans "The secret you provided does not match the secret required to complete this process" %}.
      </p>
      <p><i><b>{% trans "Note" %}</b>: {% trans "You should complete the process in the same browser that you originally initiated it in." %}</i></p>
      <p>
      {% trans "Please re-initiate it" %} <a href="/username-retrieve">{% trans "here" %}</a>
      </p>
      {% endif %}
    </div>
    <div class="col-md-4 col-sm-3 col-12"></div>
  </div>
</div>
</div>

{% include "site/footer.html" %}
