.cache/
.coverage
.facsimile
*.DS_STORE
*.env
*.log
*.py[cod]
*.sqlite
*.sw*
*.tar
OLD.*
ci-dev.peeringdb.com/
config/facsimile/*.yaml
genstatic/
mainsite/settings/beta.py
mainsite/settings/prod.py
mainsite/settings/tutor.py
peeringdb_com
peeringdb_database/
venv
locale
