bleach==2.1.3
certifi==2017.11.5
coreapi==2.3.1
django-allauth==0.32.0
django-autocomplete-light==3.2.9
django-bootstrap3==9.0.0
django-cors-headers==2.1.0
django-cors-middleware==1.3.1
django-countries==4.6.1
django-crispy-forms==1.6.1
django-debug-toolbar==1.9.1
django-extensions==1.3.3
django-grappelli==2.10.1
django-handleref==0.4.1
django-hashers-passlib==0.3
django-inet==0.3.2
django-namespace-perms==0.5.0
django-oauth-toolkit==1.0.0
django-peeringdb==1.0.0
django-phonenumber-field==0.6
django-ratelimit==1.1.0
django-rest-swagger==2.1.2
django-reversion==2.0.9
django-simple-captcha==0.5.11
django-tables2==1.0.4
django-vanilla-views==1.0.2
Django==1.11.23
djangorestframework==3.6.3
googlemaps==2.5.1
ipaddress==1.0.19
Markdown==2.6.7
mysqlclient==1.3.9
passlib==1.7.1
peeringdb==1.0.0
phonenumbers==8.11.1
rdap==0.2.0
setuptools==30.2.0
tld==0.7.6
twentyc.rpc>=0.3.5,<0.5
Unidecode==1.0.23
uwsgi==2.0.14
