{% load i18n %}
<div class="row">
<div class="col-12 col-md-3"></div>
<div class="panel center col-12">
<h3>{% trans "Our Culture" %}</h3>

<p>{% blocktrans %}PeeringDB, as the name suggests, was set up to facilitate peering between networks and peering coordinators. In recent years, the vision of PeeringDB has developed to keep up with the speed and diverse manner in which the Internet is growing. The database is no longer just for peering and peering related information. It now includes all types of interconnection data for networks, clouds, services, and enterprise, as well as interconnection facilities that are developing at the edge of the Internet.{% endblocktrans %}</p>

<p>{% blocktrans %}We believe in, and rely on the community to grow and improve the PeeringDB database. The volunteers who run the database are passionate about security, privacy, integrity, and validation of the data in the database. Even though PeeringDB is a freely available and public tool, users strictly adhere to the acceptable use policy, which prevents the database being used for commercial purposes and discourages unsolicited communications. This is largely policed by the community and has been very effective since PeeringDB was launched.{% endblocktrans %}</p>
<h3>{% trans "I’m a network operator. How can PeeringDB help me?" %}</h3>

<p>{% blocktrans %}Almost one-third of Autonomous System Numbers (ASNs) register their interconnection data in the PeeringDB database. That means, by using PeeringDB and adding your own interconnection data, you’ll be able to confidently find information about networks looking to interconnect, where and how to connect with them, and they’ll be able to find the same information about your network. Since the database is user-maintained and validated by our volunteers, you can trust that the information is accurate and up-to-date.{% endblocktrans %}</p>

<p>{% blocktrans %}This data will help you to accelerate the process of finding and connecting with other networks, while supporting a faster and more decisive deployment of your own network expansion and development plans.{% endblocktrans %}</p>

<h3>{% trans "I’m an Internet Exchange Point (IXP), data center or other interconnection facility. How can PeeringDB help me?" %}</h3>

<p>{% blocktrans %}IXPs and data center facilities can add to and maintain their information in the database, increasing visibility and their appeal to new and existing customers. If you’re in the database, this makes it much easier for networks to find crucial information about your services and the other networks present at your IXP or facilities.{% endblocktrans %}</p>
</div>
</div>
</div>
