{% load i18n util %}
      <div class="row">
        <div class="col-4 col-sm-5 col-md-4">{% trans "Address" %}</div>
        <div class="col-8 col-sm-7 col-md-8">
          <div data-edit-type="string"
               data-edit-value="{{ request.GET.address1 }}"
               data-edit-reset-value=""
               data-edit-name="address1"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 col-sm-5 col-md-4">{% trans "City" %}/ {% trans "State" %}/ {% trans "Postal" %}</div>
        <div class="col-8 col-sm-7 col-md-8">
          <div class="row">
            <div class="col-4 col-sm-4 col-md-4">
              <div data-edit-type="string"
                   data-edit-value="{{ request.GET.city }}"
                   data-edit-reset-value=""
                   data-edit-name="city"></div>
            </div>
            <div class="col-4 col-sm-4 col-md-4">
              <div data-edit-type="string"
                   data-edit-value="{{ request.GET.state }}"
                   data-edit-reset-value=""
                   data-edit-name="state"></div>
            </div>
            <div class="col-4 col-sm-4 col-md-4">
              <div data-edit-type="string"
                   data-edit-value="{{ request.GET.zipcode }}"
                   data-edit-reset-value=""
                   data-edit-name="zipcode"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 col-sm-5 col-md-4">{% trans "Country" %}<span class="hint">(ctrl/cmd {% trans "click to select multiple" %})</span></div>
        <div class="col-8 col-sm-7 col-md-8">
          <div data-edit-type="select"
               data-edit-name="country__in"
               data-edit-error-field="country"
               data-edit-data="countries"
               {% if request.GET.country %}
               data-edit-value="{{ request.GET.country }}"
               {% else %}
               data-edit-value="{{ request.GET.country__in }}"
               {% endif %}
               data-edit-reset-value=""
               data-edit-multiple="yes"
               --data-edit-data-all-entry=":-- All Countries --"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-4 col-sm-5 col-md-4">{% trans "Continental Region" %}<span class="hint">(ctrl/cmd {% trans "click to select multiple" %})</span></div>
        <div class="col-8 col-sm-7 col-md-8">
          <div data-edit-type="select"
               data-edit-name="region_continent__in"
               data-edit-data="enum/regions"
               data-edit-value="{{ request.GET.region_continent__in }}"
               data-edit-reset-value=""
               data-edit-multiple="yes"
               --data-edit-data-all-entry=":-- All Regions --"></div>
        </div>
      </div>
      {% if can_use_distance_filter %}
      <div class="row">
        <div class="col-4 col-sm-5 col-md-4">{% trans "Within Distance" %}
        </div>
        <div class="col-8 col-sm-7 col-md-8">
          <div class="row">
            <div class="col-12">
              <div data-edit-type="spatial_distance"
                   data-edit-value="{{ request.GET.distance|default:0 }}"
                   data-edit-reset-value=""
                   data-edit-name="distance">
              </div>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="alert alert-info">
       {% if not request.user.is_authenticated %}
       {% trans "Additional filters are available to authenticated users and you are currently not logged in." %}
       {% elif not request.user.is_verified_user %}
       {% trans "Additional filters are available to verified users and you are currently not affiliated with any organizations." %}
       {% endif %}
      </div>
      {% endif %}
