<div class="row">
<div class="col-12 col-md-3"></div>
<div class="panel center col-12">
<h3>PeeringDB Acceptable Use Policy</h3>

<p>The PeeringDB Acceptable Use Policy explicitly states the parameters that copyright extends to:</p>

<p>Except for Internet operational purposes approved by PeeringDB, no part
of the PeeringDB data may be reproduced, stored in a retrieval system, or
transmitted, in any form or by any means, electronic, mechanical,
recording, or otherwise, without prior permission of PeeringDB on behalf
of the copyright holders. Any use of this material to target advertising
or similar activities is explicitly forbidden and will be prosecuted.
PeeringDB requests to be notified of any such activities or suspicions
thereof. The PeeringDB data may not be passed on in bulk to any other
person or organization unless approved by PeeringDB.</p>

<p>Any request to pass on information to any other person or organization
will be evaluated on the statement of purpose outlined by the requestor.</p>

<p>Users will not be able to download the full contents of the database
unless the intended use is for "Internet operational issues". These words
are tightly defined and would include network trouble-shooting, abuse
reporting, and Internet research and analysis. It would not include
compiling marketing lists, demographic mapping, or any other commercial
application.</p>

<p>Each request would be carefully considered in light of the PeeringDB Acceptable Use Policy.</p>
</div>
<div class="col-12 col-md-3"></div>
</div>
