{% load i18n %}
<div class="panel">

  <h3>{% trans "Security keys" %}</h3>
  <div class="editable popin help marg-top-15">
    {% blocktrans trimmed %}
    Register your FIDO U2F security key and use it as a 2FA method or for password-less login.
    {% endblocktrans %}
  </div>


  <div class="list editable always"
    data-edit-module="security_key_listing"
    data-edit-target="/security_keys"
    data-edit-id="{{ instance.id }}">

    <div class="row header">
      <div class="col-xs-8 col-sm-10 col-md-10">
        <div>{% trans "Name" %}</div>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2"></div>
    </div>

    <div data-edit-component="list" data-edit-template="security-key-item">
    {%   for key in user.webauthn_security_keys.all %}
      <div class="row marg-top" data-edit-id="{{ key.id }}" data-edit-label="{{ key.name }}">
        <div class="col-xs-8 col-sm-10 col-md-10">
          <span data-edit-name="name">{{ key.name }}</span>
          <span>{% if key.passwordless_login%}({% trans "passwordless-login" %}){% endif %}</span>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 right">
          <a class="btn btn-default" data-edit-action="remove">{% trans "Remove" %}</a>
        </div>
      </div>
    {%   endfor %}
    </div>


    <div class="row marg-top editable" data-edit-component="add">
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div>{% trans "Register security key" %}</div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-5">
        <div data-edit-type="string" data-edit-name="name" data-edit-required="yes" data-edit-placeholder="{% trans "Name" %}"></div>

        <div data-edit-type="bool" data-edit-name="passwordless_login" style="display:inline"></div> <span>{% trans "Password-less login" %}</span>
      </div>
      <div class="col-xs-2 col-sm-4 col-md-3 right">
        <a class="btn btn-default" data-edit-action="register">{% trans "Register" %}</a>
      </div>
    </div>
  </div>

  <div id="editable-templates">
    <div id="security-key-item" class="row item">
      <div class="col-xs-8 col-sm-10 col-md-10" data-edit-name="name" data-edit-placeholder="{% trans "Name" %}"></div>
      <div class="col-xs-2 col-sm-2 col-md-2 right">
        <a class="btn btn-default" data-edit-action="revoke">{% trans "Remove" %}</a>
      </div>
    </div>

  </div>
</div>
