{% load i18n %}
    <div class="editable always panel"
         data-edit-target="/profile/close"
         id="form-delete-account">

      <h3>{% trans "Close Account" %}</h3>

      <div class="editable alert alert-danger marg-top">
      {% blocktrans trimmed %}
       You may close your account and delete the profile data associated with it.
       Note that this will not delete your organizations and its entities.
       If you are the only member of your organization and want it to be deleted as well please do so before closing your account.
      {% endblocktrans %}
      </div>

      <input type="password"
             class="editable string form-control marg-bot-15"
             placeholder="{% trans "Password" %}"
             data-edit-name="password"
             data-edit-type="password"
             data-edit-required="yes" />

      <a class="btn btn-danger" data-edit-action="submit">{% trans "Close Account" %}</a>
    </div>
