{% include "site/header.html" %}
{% include "site/view_header.html" with errors=errors %}
{% load i18n %}

<div class="view_info">
<div class="container">

  <div class="row marg-top-15 marg-bot-15">
    <div class="col-xs-12 col-sm-6">
      <!-- CONFIRM EMAIL -->
      {% include "site/profile-confirm-email.html" %}
      {% if request.user.email_confirmed %}
      <!-- AFFILIATE -->
      {% include "site/profile-affiliate.html" %}

      <!-- OAUTH APPS -->
      <div class="marg-top marg-bot">
      <a href="/oauth2/applications">{% trans "Manage OAuth Applications" %}</a>
      </div>
      {% endif %}
    </div>
    <div class="col-xs-12 col-sm-6">

      <!-- PICK LANGUAGE -->
      {% include "site/profile-pick-language.html" %}

      <!-- 2FA -->
      {% include "site/profile-2fa.html" %}

      <!-- SECURITY KEYS -->
      {% include "site/profile-security-keys.html" %}

      {% if not request.user.has_oauth %}
      <!-- CHANGE EMAIL -->
      {% include "site/profile-change-email.html" %}
      <!-- CHANGE PASSWORD -->
      {% include "site/profile-change-password.html" %}
      {% endif %}

      <!-- API Keys -->
      {% include "site/profile-api-keys.html" %}

    </div>
  </div>

</div>
</div>

<script language="javascript" type="text/javascript">

$('#form-update-account').each(function(idx) {
  $(this).on("action-success:submit", function(ev, data) {
    window.document.location.href = "/verify";
  })
});
$('#form-affiliate-account').each(function(idx) {
  $(this).on("action-success:submit", function(ev, data) {
    window.document.location.href = "/verify";
  })
});
$('#form-change-password').each(function(idx) {
  $(this).on("action-success:submit", function(ev, data) {
    $('#password-change-success').show()
    $(this).editable("reset")
  })
});
$('#form-language-preference').each(function(idx) {
  $(this).on("action-success:submit", function(ev, data) {
    $('#language-change-success').show()
    setTimeout(function(){
        window.location.href=window.location.href;
        window.location.reload();
        // Reload the current page, without using the cache
        document.location.reload(true);
    }, 500 );
  })
});




</script>

{% include "site/footer.html" %}
