{% extends "site/base.html" %}
{% load util %}
{% load i18n %}

{% block content %}
<div class="row panel">
  <div class="col-12">
{% if user.is_verified_user %}


<div class="marg-bot-15" id="success" style="display:none;">
<div class="editable popin info center">
<p>
{% blocktrans trimmed %}
Thank you for your suggestion.
{% endblocktrans %}
</p>
<p>
<a href="/suggest/fac">{% trans "Suggest another facility" %}</a>
</p>
</div>
</div>


      <div class="editable always auto-toggled create-form"
           id="create-fac-form"
           data-edit-target="api:fac:create"
           data-edit-enter-action="submit">

        <div class="payload">
          <div data-edit-name="suggest">yes</div>
          <div data-edit-name="org_id">0</div>
        </div>

        <div class="row">
          <div class="col-12 col-sm-6 col-md-6">
            <div class="row">
              <div class="col-4 col-sm-5 col-md-4">{% trans "Name" %}</div>
              <div class="col-8 col-sm-7 col-md-8">
                <div data-edit-type="string"
                     data-edit-required="yes"
                     data-edit-name="name"></div>
              </div>
            </div>

            <div class="row">
              <div class="col-4 col-sm-5 col-md-4">{% trans "Website" %}</div>
              <div class="col-8 col-sm-7 col-md-8">
                <div data-edit-type="url"
                     data-edit-required="yes"
                     data-edit-name="website"></div>
              </div>
            </div>

            <div class="row">
              <div class="col-4 col-sm-5 col-md-4">{% trans "Address 1" %}</div>
              <div class="col-8 col-sm-7 col-md-8">
                <div data-edit-type="string"
                     data-edit-required="yes"
                     data-edit-name="address1"></div>
              </div>
            </div>

            <div class="row">
              <div class="col-4 col-sm-5 col-md-4">{% trans "Address 2" %}</div>
              <div class="col-8 col-sm-7 col-md-8">
                <div data-edit-type="string"
                     data-edit-name="address2"></div>
              </div>
            </div>

            <div class="row">
              <div class="col-4 col-sm-5 col-md-4">{% trans "City" %}</div>
              <div class="col-8 col-sm-7 col-md-8">
                <div data-edit-type="string"
                     data-edit-required="yes"
                     data-edit-name="city"></div>
              </div>
            </div>

            <div class="row">
              <div class="col-4 col-sm-5 col-md-4">{% trans "State" %}</div>
              <div class="col-8 col-sm-7 col-md-8">
                <div data-edit-type="string"
                     data-edit-name="state"></div>
              </div>
            </div>

            <div class="row">
              <div class="col-4 col-sm-5 col-md-4">{% trans "Zip-Code" %}</div>
              <div class="col-8 col-sm-7 col-md-8">
                <div data-edit-type="string"
                     data-edit-required="no"
                     data-edit-name="zipcode"></div>
              </div>
            </div>



            <div class="row">
              <div class="col-4 col-sm-5 col-md-4">{% trans "Country" %}</div>
              <div class="col-8 col-sm-7 col-md-8">
                <div data-edit-type="select"
                     data-edit-name="country"
                     data-edit-required="yes"
                     data-edit-data="countries"
                     data-edit-value="US"></div>
              </div>
            </div>

            <div class="row">
              <div class="col-4 col-sm-5 col-md-4">{% trans "CLLI Code" %}</div>
              <div class="col-8 col-sm-7 col-md-8">
                <div data-edit-type="string"
                     data-edit-name="clli"></div>
              </div>
            </div>

            <div class="row">
              <div class="col-4 col-sm-5 col-md-4">{% trans "NPA-NXX" %}</div>
              <div class="col-8 col-sm-7 col-md-8">
                <div data-edit-type="string"
                     data-edit-name="npanxx"></div>
              </div>
            </div>


            <div class="row">
              <div class="col-4 col-sm-5 col-md-4">{% trans "Technical E-mail" %}</div>
              <div class="col-8 col-sm-7 col-md-8">
                <div data-edit-type="email"
                     data-edit-name="tech_email"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-4 col-sm-5 col-md-4 help-text"
                data-bs-toggle="tooltip"
                data-placement="top"
                title="{{ phone_help_text }}">
              {% trans "Technical Phone" %}
              <svg xmlns="http://www.w3.org/2000/svg" height="15px" viewBox="0 0 24 24" width="15px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z"/></svg>
            </div>
              <div class="col-8 col-sm-7 col-md-8">
                <div data-edit-type="string"
                     data-edit-name="tech_phone"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-4 col-sm-5 col-md-4">{% trans "Sales E-mail" %}</div>
              <div class="col-8 col-sm-7 col-md-8">
                <div data-edit-type="email"
                     data-edit-name="sales_email"></div>
              </div>
            </div>
            <div class="row">
              <div
                class="col-4 col-sm-5 col-md-4 help-text"
                data-bs-toggle="tooltip"
                data-placement="top"
                title="{{ phone_help_text }}">
              {% trans "Sales Phone" %}
              <svg xmlns="http://www.w3.org/2000/svg" height="15px" viewBox="0 0 24 24" width="15px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z"/></svg>
              </div>
              <div class="col-8 col-sm-7 col-md-8">
                <div data-edit-type="string"
                     data-edit-name="sales_phone"></div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6">
            {% include "site/entity_suggest.html" with entity_name="Facility" %}
          </div>
        </div>
      </div>
    </div>


{% else %}
<div class="marg-bot-15">
<div class="editable popin error">
<p>
{% blocktrans trimmed %}
Only verified users may suggest entities.
{% endblocktrans %}
</p>
</div>
</div>
{% endif %}
</div>
</div>

<script language="javascript" type="text/javascript">
$('#create-fac-form').each(function(idx) {
  form = $(this)
  $(this).on("action-success:submit", function(ev, data) {
    $("#success").show();
    form.hide();
  })
});
$(function () {
    $("[data-bs-toggle=tooltip]").tooltip();
});

</script>
{% endblock %}
